<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DbCon" connectionString="Data Source=.\SQLExpress;Initial Catalog=OrdoMill_Db;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <!--<userSettings>
    <OrdoMill.Resources.Settings>
      <setting name="printerName" serializeAs="String">
        <value />
      </setting>
      <setting name="Key" serializeAs="String">
        <value />
      </setting>
      <setting name="LastUser" serializeAs="String">
        <value />
      </setting>
      <setting name="subDays" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastSaveDate" serializeAs="String">
        <value />
      </setting>
      <setting name="dbName" serializeAs="String">
        <value />
      </setting>
      <setting name="SaveMode" serializeAs="String">
        <value />
      </setting>
      <setting name="backUpPath" serializeAs="String">
        <value />
      </setting>
      <setting name="LogoutAffter" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="LastFacture" serializeAs="String">
        <value />
      </setting>
      <setting name="LastBordereau" serializeAs="String">
        <value />
      </setting>
      <setting name="ClientEMail" serializeAs="String">
        <value>Test</value>
      </setting>
      <setting name="dbPath" serializeAs="String">
        <value />
      </setting>
      <setting name="AppAccent" serializeAs="String">
        <value />
      </setting>
      <setting name="AppTheme" serializeAs="String">
        <value />
      </setting>
      <setting name="PageSize" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="ServerName" serializeAs="String">
        <value />
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value />
      </setting>
    </OrdoMill.Resources.Settings>
  </userSettings>-->

  <!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>-->
</configuration>
